@import url('https://fonts.googleapis.com/css2?family=Hanuman&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "hanuman" !important;
}

body {
  height: 100vh;
}

p {
  margin: 0 auto !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}