@import url("https://fonts.googleapis.com/css2?family=Hanuman&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "hanuman" !important;
  /* height: 100%; */
  min-width: 1600px;
  /* max-width: 100%; */
}

p {
  margin: 0 auto !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* BreadCrumb */
.pageInfo {
  font-size: 1.3em;
}

/* Header Component */
.header {
  background-color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.ant-select-selection-search-input {
  margin-right: auto;
  cursor: pointer;
  border-radius: 20px !important;
}

.headerInfo {
  display: flex;
}

.headerInfo > div {
  margin-right: 20px;
  align-self: center;
}

.site-layout {
  padding: 20px;
}

#nprogress .bar {
  background: #e53e3e !important;
  height: 2.8px !important;
}
